*{
    margin:0;
    padding: 0;
    text-align: center;
    background-color:cyan;
}
h1{
    background-color: #081b31;
    color: #fff;
    height: 4rem;
    line-height: 5rem;
}
.choice{
    height: 300px;
    width:300px;
    border-radius: 50%
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: #081b31;
}
img{
    height: 300px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 1rem;
    gap: 5rem;
}
#user-score,
#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top:1rem;
}
#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    height: 3rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}